@import url('https://fonts.google.com/?query=a&selection.family=Ubuntu:400,700');

body { 
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
 }

.wrapper {
  width           : 100%;
  height          : 100vh;
  background-color: black;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
}


.menu {
  width : 600px;
  height: 600px;

  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  border          : 1px solid blue;
  background-color: white;

}

/* button {
  padding       : 8px;
  font-family   : sans-serif;
  text-transform: uppercase;
} */

.btn {
  margin-top: 5px;
}

.add-remove {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-end;
  
}

