.wrapper {
  width           : 100%;
  height          : 100vh;
  background-color: black;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
}


.menu {
  width : 600px;
  height: 600px;

  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  border          : 1px solid blue;
  background-color: white;

}

button {
  padding       : 8px;
  font-family   : sans-serif;
  text-transform: uppercase;
}

body {
  /* background-color: black; */
}